<div class="container-fluid">
<div class="row" *ngIf="!error">
  <div class="col-md-4 col-sm-5 col-lg-2" *ngIf="encounters">
    <ul class="list-group">
      <li *ngFor="let encounter of encounters" class="list-group-item">{{encounter.encounterType.display}}
        <span class="glyphicon glyphicon-eye-open pull-right" 
        [class.active]="selectedEncounter.uuid === encounter.uuid"
        (click)="displayEncounterObs(encounter.uuid)"></span>
      </li>
    </ul>
  </div>
 <div [ngBusy]="{busy: busy, message: 'Loading Encounter...', minDuration: 600}">
  <div *ngIf="form&&selectedEncounter" class="col-md-7 col-md-offset-1 col-lg-8 col-sm-7" id="encounter">

    <encounter-renderer [encounter]="selectedEncounter" [form]="form"></encounter-renderer>

  </div>
</div>
</div>

<div *ngIf="error" class="container">
  {{errorMessage}}
</div>
</div>